<div class="header">
    <div class="header-title">
        <h1>Admin</h1>
        <div class="add_admin">
            <span class="material-icons pr-8 green">add</span>
            <p>Add New Admin</p>           
        </div>
    </div>       
    <div class="header_icon">
        <span class="material-icons pr-24 ">search</span>
        <a href="#"><span class="material-icons">notifications_active</span></a>
    </div>
</div>