<div class="nav ">
    <div class="nav-bar">
        <div class="logo"><a href="index.html"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a></div>
        <ul class="menu-list ">
            <li><a class="d-flex align-items-center" href="#"><span class="material-icons me-3">assessment</span>Dashboard </a></li>
            <li><a class="d-flex align-items-center" href="#"><span class="material-icons me-3">question_answer</span>Question</a></li>  
            <li><a class="d-flex align-items-center " href="#"><span class="material-icons me-3">assignment</span>Assignment</a></li>                  
            <li><a class="d-flex align-items-center" href="#"><span class="material-icons me-3">assessment</span>Course</a></li>    
            <li><a class="d-flex align-items-center green" href="#"><span class="material-icons me-3">supervisor_account</span>Admin</a></li>  
            <li><a class="d-flex align-items-center" href="#"><span class="material-icons me-3">settings</span>Settings</a></li>              
        </ul>
    </div>    
    <div class="contact">
        <img class="contact-img me-3" src="../assets/images/andychen.jpeg" alt="andychen">
        <div class="contact-data">
            <h2>Andy Chen</h2>
            <a class="email" href="mailto:">andy0401@mail.com</a>
        </div>
    </div>
</div>